#title {
    position: absolute;
    bottom: 65%;
    padding-top : 10%;
    height: 100px;
    width: 100%;
  }

#title h3{
    color : white;
    text-align: center;
    line-height: 10pt;
    font-size: 16pt;
}

#title img{
    width: 200px;

}

#title .box{
    width: fit-content;
    margin: 0 auto;
}

#panel{
    height: 25%;
}

@keyframes slideInFromLeft {
 from{
     height: 0%;
 }
    to{
        height: 25%;
    }
}

#panel .box {
    width: 90%;
    margin: 0 auto;
    padding-top: 15%;
}


.l_btn{

    margin-top: 20%;

}