{% extends 'base.html' %}

{%  block template %}
    {% load static %}
{% endblock %}

{% block title %}
    대시보드 - 틈
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_dashboard.css' %}">
{% endblock %}

{% block body %}

    <div id ="container">
        <div id = "title" >

            <div id = "img_box">
            <img src="{% static 'img/logo_crop.png' %}" width="50px">
            </div>

            <h2>{{ username }}님</h2>
            <h4><a href="{% url "logout" %}">로그아웃</a></h4>





        </div>

        <div id = "panel">

            <div class = "recent">
                <div class="panel-title">
                    <div class="panel-title-text blue">
                        <h1>즐겨 찾는 역</h1>
                    </div>
                    <div id="see-all-btn">
                        <a href="{% url "detail" %}" class="blue">더보기</a>
                    </div>
                </div>

                {% if station_line != "" %}

                      <div class = "panel-object">
                    <div class = "small_box_container">
                        <span class = "station_title">{{ station_name }}</span>
                        <span class = "line_title">{{ station_line }}</span>

                    </div>


                <div class="small_box_container">
                    <div class = "small_box">
                        <p class = "box-title">최단이격출입문</p>
                        <p class = "box-body">{{ shortest_door }}</p>
                    </div>
                       <div class = "small_box">
                        <p class = "box-title">역별혼잡도</p>
                        <p class="box-body">{{ complexity }}</p>
                    </div>
                </div>




                </div>



            </div>


                    {% else %}

                    <div class = "panel-object">

            <h2 style="text-align: center; font-weight: bold; color: #1A293E; padding-bottom: 30px;">
                즐겨찾는 역을 추가해주세요
            </h2>
                </div>

                {% endif %}





            <div class = "l_btn btn_blue">
                <a class="btn_a" href="{% url "menu" %}">
                    메뉴 열기
                </a>
            </div>

    </div>

{% endblock %}