{% extends 'base.html' %}

{%  block template %}
    {% load static %}
{% endblock %}

{% block title %}
    공간정책 - 마음체크
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_detail.css' %}">
{% endblock %}

{% block body %}

      <div id ="container">
        <div id = "title" style="float: left" >
            <div id = "title-left">
                <h3>즐겨 찾는 역</h3>
            </div>
          <div id = "title-close">
              <a href="{% url "dashboard" %}">×</a>
          </div>

        </div>

        <div id = "panel">
            <div id = "list">



{% for station in favorite_station %}

               <div id = "item">


                    <div class = "panel-object">
                    <div class = "small_box_container">
                        <span class = "station_title">{{ station.station_name }}</span>
                        <span class = "line_title">{{ station.station_line }}</span>
                        <a class = "icon-delete" href="{% url "favorite_remove" station.station_id %}"><img src="{%  static "img/trash.png" %}"></a>

                    </div>


                <div class="small_box_container">
                    <div class = "small_box">
                        <p class = "box-title">최단이격출입문</p>
                        <p class = "box-body">{{ station.shortest_door }}</p>
                    </div>
                       <div class = "small_box">
                        <p class = "box-title">역별혼잡도</p>
                        <p class="box-body">{{ station.find_complexity }}</p>
                    </div>
                </div>



                </div>


                </div>


                {% endfor %}




            </div>

        </div>
      </div>





{% endblock %}